@import "./mixins/center-align.scss";

#chess-welcome {
  
    img {
        height: 20em;
        @include center();
        border: 5px dashed #2FA4E7;
    }

    h1 {
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

}