<div class="row mt-4 ml-1">
    <div class="col">
        <h1>Xadrez Online</h1>
        <p class="lead">Por favor, escolha a cor de suas peças:</p>
        <a href="/game/w"><img src="/img/chesspieces/wikipedia/wQ.png" alt="Branco"></a>
        <a href="/game/b"><img src="/img/chesspieces/wikipedia/bQ.png" alt="Preto"></a>
    </div>
</div>