<div class="row">

    <div class="col-lg-12">
        <div class="bs-component">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/curso">Cursos</a></li>
                <li class="breadcrumb-item active">Atualizar</li>
            </ol>
        </div>
    </div>

    <div class="col-8">
        <h1>Atualizar Curso</h1>
    </div>
    
    <div class="col-4">
        <div class="float-right mt-4">
            <a class="btn btn-secondary" href="/curso"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
    </div>

    <div class="col-8">

        <form action='/curso/update' method="POST">
            <div class="form-group">
                <label for="sigla">Sigla</label>
                <input type="text" class="form-control" name="sigla" id="sigla" placeholder="Digite a sigla do curso" value="{{curso.sigla}}">
            </div>

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite a nome do curso" value="{{curso.nome}}">
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Digite uma descrição para o curso" value="{{curso.descricao}}">
            </div>

            <fieldset class="form-group">
                <legend>Área do Curso</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="id_area" id="id_area_agr" value="1">
                        Agrárias
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="id_area" id="id_area_bio" value="2">
                        Biológicas
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="id_area" id="id_area_exa" value="3">
                        Exatas
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="id_area" id="id_area_hum" value="4">
                        Humanas
                    </label>
                </div>
            </fieldset>

            <input type="hidden" name="id" value="{{curso.id}}">

            <button type="submit" id="botao_atualizar" class="btn btn-secondary">Atualizar</button>

        </form>

    </div>

</div>