<div class="row">
    <div class="col-9 mt-4">
        <p class="lead">Seja bem vindo ao aplicativo de partidas de xadrez do Instituto de Computação. Para iniciar uma
            nova partida, clique na opção <u>Nova Partida</u> do menu superior. Essa aplicação foi desenvolvida com
            muito carinho por <a href="mailto:fass@icomp.ufam.edu.br">Felipe André</a> como
            Trabalho Prático da disciplina Programação Web 2.</p>
    </div>
    <div class="col-3">
        <img src="/img/chess-clipart.png" alt="">
    </div>
</div>