<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
            </ol>
        </div>
    </div>
    {{content}}
</div>