#layout-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 6px
}

#layout-header h3 {
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px
}

#layout-header .logo {
    margin-top: -8px;
    margin-bottom: -2px
}