<div class="row mt-3 ml-0">
    <div class="col">
        <button id="botao" class="btn btn-primary">Enviar Mensagem</button>
        <input type="radio" name="sala" value="1" onclick="mudarSala(this);" checked> Sala 1
        <input type="radio" name="sala" value="2" onclick="mudarSala(this);"> Sala 2
        <div id="msgs"></div>
    </div>
</div>

<script>

    const socket = io();

    const botao = document.getElementById("botao");
    const msgs = document.getElementById("msgs");

    botao.onclick = () => {
        socket.emit("oi", "Hello server!");
    }

    socket.on("oi", (msg) => {
        msgs.innerHTML += msg + "<br>";
    });

    socket.connect("oi", (msg) => {
        document.title = msg;
    });

    function mudarSala(radio) {
        socket.emit("mudarSala", radio.value);
    }

</script>