<div class="uuid">

    <div class="row">
        <div class="col-6">
            <h1>UUID Gerado Automaticamente</h1>
            <h4 class="text-info mt-4">{{uuid}}</h4>
        </div>
    </div>

</div>